.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.reset-list-style {
  padding-inline-start: 0;
}

.reset-list-style li {
  list-style: none;
}

.inline-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.inline-list li {
  margin-bottom: 0;
}
